
 <ion-header>
  <ion-toolbar lines="none" mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="util.openSideMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="profile">

    <ion-thumbnail>
      <img src="assets/images/user.png" />
    </ion-thumbnail>

    <ion-label class="heading">Hola {{nombre}}!</ion-label>

  </div>
  <ion-item lines="none">
     <ion-label position="floating">Cedula</ion-label>
    <ion-input  type="text" [(ngModel)]="cedula"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="text" [(ngModel)]="telefono"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Direccion</ion-label>
    <ion-input type="text" [(ngModel)]="direccion"></ion-input>
  </ion-item>

  <div class="btn">
    <ion-button class="content_button" (click)="onEdit()" >
      Editar
    </ion-button>
  </div>

</ion-content>
