 <ion-content class="ion-padding">

  <div class="padre-transform">

    <div class="title">
      <ion-label class="heading">Ingrese a su cuenta!</ion-label>
      <ion-label class="sub_heading">Iniciar Sesion.</ion-label>
    </div>
  
    <div class="main_div">
      <ion-item lines="none">
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
        <ion-icon slot="end" name="eye" color="medium"></ion-icon>
      </ion-item>
  
      <div class="btn">
        <ion-buttons slot="end">
          <ion-button (click)="onForgot()" color="medium">
            Olvido su contraseña?
          </ion-button>
        </ion-buttons>
      </div>
  
      <ion-button class="content_button" (click)="login()" expand="block">
        Ingresar
      </ion-button>
  
      <div class="title">
        <ion-label class="sub_heading">No tienes cuenta? <span (click)="singup()">Crea una</span></ion-label>
      </div>
    </div>
  </div>
 

</ion-content>
